<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="./css/teams.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body style="background: #1ABC9C">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="./images/Mohit.jpeg">
                    </div>
                    <h3 class="title">Mohit Aswani</h3>
                    <span class="post">Web Developer</span>
                    <ul class="social">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-github"></a></li>
                        <!-- <li><a href="#" class="fa fa-google-plus"></a></li> -->
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
     
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="./images/Kush.jpeg">
                    </div>
                    <h3 class="title">Kush Gupta</h3>
                    <span class="post">Web Designer</span>
                    <ul class="social">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-github"></a></li>
                        <!-- <li><a href="#" class="fa fa-google-plus"></a></li> -->
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
    
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="./images/amogh.png">
                    </div>
                    <h3 class="title">Amogh Patel</h3>
                    <span class="post">Web Designer</span>
                    <ul class="social">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="https://github.com/AmoghPatel1" class="fa fa-github"></a></li>
                        <!-- <li><a href="#" class="fa fa-google-plus"></a></li> -->
                        <li><a href="https://www.linkedin.com/in/amogh-patel-2001/" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="./images/Praveen.jpeg">
                    </div>
                    <h3 class="title">Praveen</h3>
                    <span class="post">Web Designer</span>
                    <ul class="social">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-github"></a></li>
                        <!-- <li><a href="#" class="fa fa-google-plus"></a></li> -->
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic rounded-circle">
                        <img src="./images/nikith3.jpeg">
                    </div>
                    <h3 class="title">Nikith Chatla</h3>
                    <span class="post">Web Designer</span>
                    <ul class="social">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-github"></a></li>
                        <!-- <li><a href="#" class="fa fa-google-plus"></a></li> -->
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    
    <%- include('../includes/end.ejs') %>