<nav>
    <!-- ------------------- NAV-BAR --------------------------->
    <div class="container">
        <a href="/admin/home" style="text-decoration: none;color: black;">
            <h2 class="logo">
                Admin @ Student HUB
            </h2>
        </a>
        <div class="nav-bar-menu">
            <a class="menu-item <%= path==='/posts'?'active':''  %>" href="/admin/posts">
                <span><b>Posts</b></span>
            </a>
            <a class="menu-item <%= path==='/users'?'active':''  %>" href="/admin/users">
                <span><b>Users</b></span>
            </a>
        </div>
        <!-- <div class="search-bar">
            <i class="uil uil-search"></i>
            <input id="search-bar-input" type="search" placeholder="Search for issues">
            <ul class="autocomplete-list" id="country-list">
            </ul>
        </div> -->

    </div>
    </div>
</nav>