<div class="sidebar">
    <a class="menu-item <%= path==='/posts'?'active':''  %>" href="/admin/posts">
        <span><i class="uil uil-compass"></i></span>
        <h3>Posts</h3>
    </a>
    <a class="menu-item <%= path==='/users'?'active':'' %>" href="/admin/users">
        <span><i class="uil uil-user"></i></span>
        <h3>Users</h3>
    </a>
</div>